.bi {
    width: 1rem;
    height: 1rem;
}

.form-section {
    margin-bottom: 2rem;
}

.barra {
    background-color: rgba(211, 84, 0, 1);
}

.btn-primary.registrar-btn {
    background-color: rgba(211, 84, 0, 1) !important;
    border-color: rgba(211, 84, 0, 1) !important;
  }
  
  .btn-primary.registrar-btn:hover,
  .btn-primary.registrar-btn:focus {
    background-color: rgba(211, 84, 0, 1) !important;
    border-color: rgba(211, 84, 0, 1) !important;
  }
  
  .btn-search {
    background-color: green !important;
    color: white !important;
    border: none !important;
  }
  
  .btn-search:hover,
  .btn-search:focus {
    background-color: green !important;
    color: white !important;
  }
  